.Card {
    flex: 1;
    border: 3px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: darkgray;
    margin: 20px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Footer {
    background-color: darkgray;
    color: whitesmoke;
    padding: 5px 0px;
}

.Card .Conteudo {
    flex: 1;
    background-color: rgb(8, 59, 61);
    color: darkgray;
    padding: 15px 0px;
}